<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageSources>
    <add key="NTPAC" value="https://nessc.fit.vutbr.cz/tfs/Marta/_packaging/ntpac/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NTPAC>
      <add key="Username" value="%nuget_user%" />
      <add key="ClearTextPassword" value="%nuget_pass%" />
    </NTPAC>
  </packageSourceCredentials>

</configuration>